@if (authService.isLoggedIn()) {
  <nav class="top-bar shadow-sm" style="background: linear-gradient(135deg, var(--blue-darkest) 0%, var(--blue-dark) 100%);">
    <div class="content-wrapper nav-inner">
      <a class="navbar-brand" routerLink="/devices">
        <i class="bi bi-cpu me-2 fs-4"></i>
        <span>DeviceManager</span>
      </a>

      <div class="nav-links">
       @if (authService.isAdmin()) {
          <a class="btn-nav" routerLink="/devices" routerLinkActive="btn-nav-active" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-laptop me-1"></i> Devices
          </a>
          <a class="btn-nav" routerLink="/users" routerLinkActive="btn-nav-active">
            <i class="bi bi-people me-1"></i> Users
          </a>
        } 
        @else {
          <a class="btn-nav" routerLink="/devices" [queryParams]="{tab: 'my-devices'}" routerLinkActive="btn-nav-active" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-person-badge me-1"></i> My Devices
          </a>
          <a class="btn-nav" routerLink="/devices" [queryParams]="{tab: 'available'}" routerLinkActive="btn-nav-active" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-box-seam me-1"></i> Available Devices
          </a>
        }

      </div>

      <div class="ms-auto">
        <button class="btn btn-logout d-flex align-items-center" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Logout
        </button>
      </div>
    </div>
  </nav>
}

<router-outlet></router-outlet>